<ion-modal-view>
  <ion-header-bar class="bar bar-royal">
    <h1 class="title">编辑管理员信息</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeEdit()">关闭</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doEditAdminInfo()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">用户名</span>
          <input type="text" ng-model="editInfo.username">
        </label>
        <label class="item item-input">
          <span class="input-label">密码</span>
          <input type="password" ng-model="editInfo.password">
        </label>
        <label class="item item-input">
          <span class="input-label">密码</span>
          <input type="password" ng-model="editInfo.secondpassword">
        </label>
        <label class="item item-input">
          <span class="input-label">地址</span>
          <input type="text" ng-model="editInfo.address">
        </label>
        <label class="item item-input">
          <span class="input-label">电话号码</span>
          <input type="text" ng-model="editInfo.phone">
        </label>
        <label class="item">
          <button class="button button-block button-royal" type="submit">确定编辑</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
